.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-container {
  margin-left: 1.45em;
  margin-right: 1.45em;
}